<form autocomplete="off" [formGroup]="stockForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" />

  <div class="form-group">
    <label>Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      name="name"
      formControlName="name"
      required
    />
  </div>
  
  <div class="form-group">
    <label>Amount</label>
    <input
      type="text"
      class="form-control"
      placeholder="0,0000"
      name="amount"
      formControlName="amount"
      required
    />
  </div>

  <div class="form-group">
    <label>Acquisition price per Unit</label>
    <input
      type="text"
      class="form-control"
      placeholder="0,0000"
      name="acquisitionPricePerUnit"
      formControlName="acquisitionPricePerUnit"
      required
    />
  </div>

  <div class="form-group">
    <button
      class="form-control btn btn-primary"
      type="submit"
      [disabled]="!stockForm.valid"
    >
      Submit
    </button>
  </div>
</form>
