/* #region Main layout styles */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-top: 112px;
  padding-bottom: 112px;
  min-height: 100%;
}

/* #endregion Main layout styles */

/* #region Angular styles */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.circle-link:hover {
  transition: 0.5s ease-out;
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* #endregion Angular styles */

/* #region Bootstrap overrides */

.btn-primary {
  background-color: #1976d2 !important;
  border-color: #1976d2 !important;
}

.btn-secondary {
  border-color: #eee !important;
  background-color: #fafafa !important;
  fill: #888 !important;
  color: #1976d2 !important;
}

.btn-secondary:hover {
  color: #125699 !important;
}

/* #endregion Bootstrap override */

/* #region Form Styles */

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  font-size: 0.75em;
  margin-top: 1rem;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* Chrome, Safari, Edge, Opera remove number input arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox remove number input arrows */
input[type="number"] {
  -moz-appearance: textfield;
}

/* #endregion Form Styles */

/* #region Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}
/* #endregion Responsive Styles */
