<button
  i18n
  type="button"
  class="btn btn-secondary float-right w-25 mb-3"
  routerLink="new"
  routerLinkActive="active"
>
  <svg width="24" height="24">
    <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#plus" />
  </svg>
  Add new
</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th i18n scope="col">Name</th>
      <th i18n scope="col">Amount</th>
      <th i18n scope="col" class="text-right">Acquisition price per unit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stockService.list">
      <td (click)="populateForm(stock)">{{ stock.name }}</td>
      <td (click)="populateForm(stock)">{{ stock.amount }}</td>
      <td (click)="populateForm(stock)" class="text-right">
        {{ stock.acquisitionPricePerUnit }}
      </td>
      <td
        (click)="onDelete(stock.id)"
        data-toggle="modal"
        data-target="#customModal"
      >
        <svg width="16" height="16">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#trash" />
        </svg>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-dialog
  [id]="modalId"
  [body]="modalBody"
  (idSubmitEvent)="submitModal($event)"
></app-modal-dialog>
