  <a
    class="card float-right"
    rel="noopener"
    routerLink="new"
    routerLinkActive="active"
  >
    <svg width="24" height="24">
      <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#plus" />
    </svg>
    <span>Add new</span>
  </a>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col" class="text-right">Acquisition price per unit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stockService.list">
      <td (click)="populateForm(stock)">{{ stock.name }}</td>
      <td (click)="populateForm(stock)">{{ stock.amount }}</td>
      <td (click)="populateForm(stock)" class="text-right">
        {{ stock.acquisitionPricePerUnit }}
      </td>
      <td (click)="onDelete(stock.id)">
        <svg width="16" height="16">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#trash" />
        </svg>
      </td>
    </tr>
  </tbody>
</table>
