<header>
  <app-nav-bar></app-nav-bar>
</header>

<main class="content">
  <div class="card highlight-card card-small">
    <svg
      id="rocket"
      alt="Rocket Ship"
      xmlns="http://www.w3.org/2000/svg"
      width="101.678"
      height="101.678"
      viewBox="0 0 101.678 101.678"
    >
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle
          id="Ellipse_8"
          data-name="Ellipse 8"
          cx="50.839"
          cy="50.839"
          r="50.839"
          transform="translate(141 696)"
          fill="#dd0031"
        />
        <g
          id="Group_47"
          data-name="Group 47"
          transform="translate(165.185 720.185)"
        >
          <path
            id="Path_33"
            data-name="Path 33"
            d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
            transform="translate(0.371 3.363)"
            fill="#fff"
          />
          <path
            id="Path_34"
            data-name="Path 34"
            d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
            transform="translate(0 0.005)"
            fill="#fff"
          />
        </g>
      </g>
    </svg>
    <span>{{ title }} is running!</span>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="first" routerLinkActive="active"
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="second" routerLinkActive="active"
        >Stocks</a
      >
    </li>
  </ul>
  
  <router-outlet></router-outlet>

  <div class="card-container">
    <a
      class="card"
      target="_blank"
      rel="noopener"
      href="https://angular.io/tutorial"
    >
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"
        />
      </svg>

      <span>Learn Angular</span>

      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>

  <div class="card-container">
    <a
      class="circle-link"
      title="Animations"
      href="https://angular.io/guide/animations"
      target="_blank"
      rel="noopener"
    >
      <svg
        id="Group_20"
        data-name="Group 20"
        xmlns="http://www.w3.org/2000/svg"
        width="21.813"
        height="23.453"
        viewBox="0 0 21.813 23.453"
      >
        <path
          id="Path_15"
          data-name="Path 15"
          d="M4099.584,972.736h0l-10.882,3.9,1.637,14.4,9.245,5.153,9.245-5.153,1.686-14.4Z"
          transform="translate(-4088.702 -972.736)"
          fill="#ffa726"
        />
        <path
          id="Path_16"
          data-name="Path 16"
          d="M4181.516,972.736v23.453l9.245-5.153,1.686-14.4Z"
          transform="translate(-4170.633 -972.736)"
          fill="#fb8c00"
        />
        <path
          id="Path_17"
          data-name="Path 17"
          d="M4137.529,1076.127l-7.7-3.723,4.417-2.721,7.753,3.723Z"
          transform="translate(-4125.003 -1058.315)"
          fill="#ffe0b2"
        />
        <path
          id="Path_18"
          data-name="Path 18"
          d="M4137.529,1051.705l-7.7-3.723,4.417-2.721,7.753,3.723Z"
          transform="translate(-4125.003 -1036.757)"
          fill="#fff3e0"
        />
        <path
          id="Path_19"
          data-name="Path 19"
          d="M4137.529,1027.283l-7.7-3.723,4.417-2.721,7.753,3.723Z"
          transform="translate(-4125.003 -1015.199)"
          fill="#fff"
        />
      </svg>
    </a>
  </div>

  <object
    type="image/svg+xml"
    data="../assets/images/StockBackground.svg"
    class="background"
  >
    Microsoft Stock Chart Background
  </object>
</main>

<footer>
  <div>&copy; Copyright {{ year }} Samuel Schnurr</div>
</footer>
