<form novalidate #form="ngForm">
  <input type="hidden" name="stockId" [value]="stockService.formData.stockId" />
  <div class="form-group">
    <label>Name</label>
    <input
      class="form-control"
      placeholder="Name"
      name="name"
      #name="ngModel"
      [(ngModel)]="stockService.formData.name"
      required [class.invalid]="name.invalid && name.touched"
      minlength="3"
    />
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input
      class="form-control"
      placeholder="0,000"
      name="amount"
      #amount="ngModel"
      [(ngModel)]="stockService.formData.amount"
    />
  </div>
  <div class="form-group">
    <label>Acquisition price per Unit</label>
    <input
      class="form-control"
      placeholder="0,00"
      name="acquisitionPricePerUnit"
      #acquisitionPricePerUnit="ngModel"
      [(ngModel)]="stockService.formData.acquisitionPricePerUnit"
    />
  </div>
  <div class="form-group">
    <button class="form-control btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
